[Unit]
Description=Watch file changes in Tofino
After=network.target

[Service]
User=alessandro
WorkingDirectory=/home/alessandro/tofino-rsvp-webapp/
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/alessandro/tofino-rsvp-webapp/rest-db-watch.sh

[Install]
WantedBy=multi-user.target