{% extends 'base.html' %}

{% block content %}
<div class="container ml-3">
    <h1>{% block title %} Useful contacts {% endblock %}</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Cluster Director</h4>
                </div>
                <div class="card-body">
                    <p>Prof. Paolo Giaccone</p>
                    <p>Unit: Department of Electronics and Telecommunications</p>
                    <p><a href="mailto:paolo.giaccone@polito.it">paolo.giaccone@polito.it</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Cluster Admin</h4>
                </div>
                <div class="card-body">
                    <p>Alessandro Cornacchia</p>
                    <p>Unit: external</p>
                    <p><a href="mailto:alessandro.cornacchia@polito.it">alessandro.cornacchia@polito.it</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}