{% extends 'base.html' %}

{% block content %}

<div class="container vh-100">
    <div class="h-50 d-flex align-items-center">
        <div class="container mh-100 text-center">
            <h1>{% block title %} Welcome to P4 {% endblock %}</h1>
            <p>Reserve your timeslot on our Tofino switches!</p>


            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" href="{{ url_for('create') }}" role="button">Book your slot</a>
                </div>
            </div>

            <div class="mt-4"> See <a href="{{ url_for('about') }}">contacts</a> for further information.</div>
        </div>
    </div>
</div>
{% endblock %}